.prd-list{
	display: flex;
	flex-wrap:wrap;
	width:100%;
	margin-top:30px;
	.item{
		flex:1;
		flex-basis: 33.3333%;
		-webkit-box-flex: 0;
		flex-grow: 0;
		max-width: 33.3333%;
		padding:20px;
		a{
			display:block;
			overflow: hidden;
			padding:20px;
			border-radius:20px;
			background-color: #f5f5f5;
		}
	}
}

img{
	max-width:100%;
}

a{
	color:#333;
}

/* tab */
.tabs {
	display: flex;
	align-items: center;
	border-radius: 0.5rem;
	padding: 0.15rem 0.5rem;
	background: rgb(17 21 36 / 30%);
	position: relative;
	z-index: 1;
	margin-bottom: 0.75rem;
	&:has(:focus-visible) {
	  outline: 3px solid rgb(17 21 36 / 50%);
	}
  }
  .tabs-marker {
	position: absolute;
	z-index: -1;
	background: rgb(17 21 36 / 70%);
	top: 0.4rem;
	bottom: 0.4rem;
	left: 0;
	border-radius: 0.4rem;
	transition: 0.15s;
  }
  .tabs-tab {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	appearance: none;
	transition: all 150ms;
	outline-width: 2px;
	outline-offset: 2px;
	padding: 0px;
	border-width: 0;
	color: inherit;
	font-weight: 500;
	padding: 1rem;
	color: white;
	background: transparent;
	cursor: pointer;
	outline: none;
	font-family: inherit;
	color: rgba(255, 255, 255, 0.9);
	font-size: 0.95rem;
	&:hover {
	  color: rgba(255, 255, 255, 1);
	}
  
	&.ui-active {
	  pointer-events: none;
	  color: rgba(255, 255, 255, 1);
	}
  }
  .tabpanels {
	  background-color: white;
	  border-radius: 0.5rem;
	  width: 100%;
	}
	.tabpanel {
		display:none;
		padding: 1rem 1.25rem;
		min-height: 5rem;
		place-content: center;
		border-radius: 0.5rem;
	&:focus-visible {
	  outline: 3px solid rgb(17 21 36 / 50%);
	}
	&.ui-enter-active {
	  transition: all 200ms;
	  transform-origin: center top;
	}
	&.ui-enter-from {
	  opacity: 0;
	  transform: scale(0.98);
	}
	&.active{
		display:block;
	}
  }

.quick-menu{
	position: fixed;
	top: 50%;
	right: 50px;
	border: 1px solid #000;
	img{
		width: 100px;
	}
}